name: Publish release

on:
  push:
    tags:
      - 'rel-*'

jobs:
  build:
    name: Poetry build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8']
        poetry-version: [1.1.11]
        os: [ubuntu-20.04]

    steps:
    - uses: actions/checkout@v3
    - run : |
        rm -f dist/*.whl
    - uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Run image
      uses: abatilo/actions-poetry@v2.0.0
      with:
        poetry-version: ${{ matrix.poetry-version }}
    - name: Build package
      run: poetry build
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: dist/*.whl
        tag: ${{ github.ref }}
        overwrite: false
        file_glob: true
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.os }}-py${{ matrix.python-version }}
        path: "dist/*.whl"


  publish:
    name: Upload wheels to PyPI
    runs-on: ubuntu-20.04
    needs: build

    steps:
    - name: Download artifacts
      uses: actions/download-artifact@v3
    - run : |
        ls -R
        mv -v */*.whl .
        rmdir ubuntu-*
    - name: Publish to TestPyPI
      uses: pypa/gh-action-pypi-publish@v1.5.0
      with:
        user: __token__
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        repository_url: https://test.pypi.org/legacy/
        verbose: true
        print_hash: true
        packages_dir: "."
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@v1.5.0
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
        verbose: true
        print_hash: true
        packages_dir: "."
